/ears/
/target/
/preingest-web/src/main/webapp/WEB-INF/tld/
/preingest-web/src/main/webapp/WEB-INF/jboss-web.xml
/preingest-jpa/target/
/preingest-slg/target/
/preingest-ejb/target/
/preingest-web/target/
/preingest-ear/target/
/nb-configuration.xml
/preingest-jpa/nb-configuration.xml
/preingest-slg/nb-configuration.xml
/preingest-ejb/nb-configuration.xml
/preingest-web/nb-configuration.xml
/preingest-ear/nb-configuration.xml
/preingest-ear/src/main/application/META-INF/jboss-app.xml
/preingest-ejb/src/main/resources/META-INF/jboss.xml
/preingest-ejb/nbproject/
/nbactions.xml
/**/*.iml
.idea/
**/xaDiskHome/
.project
/**/.settings/
/**/.project
/**/.classpath
/**/.factorypath
.vscode/
/preingest-ear/nbactions.xml
